<background-hero>
    <img id="hero-image" src="https://images.pexels.com/photos/1731660/pexels-photo-1731660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="guy selecting components." />
    <hero-content>
        <hero-col>
            <h1>Two Column Content</h1>
            <p>Enter a captivating paragraph to interest the user landing on the page.</p>
            <a href="#" class="g-button -blue -shiny">
                Action Button
            </a>
        </hero-col>
        <!--
            Optional column.
            <hero-col>
                <img src="https://images.pexels.com/photos/1731660/pexels-photo-1731660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="guy selecting components." />
            </hero-col>
        -->
    </hero-content>
</background-hero>