{% extends '_layouts/page' %}

{% block content %}

    {% cache %}

        <section id="{{ entry.slug }}" class="block relative">

            {{ include("_blocks", {
                'blocks': entry.blocksBuilder.all(),
            }) }}

        </section>

    {% endcache %}

{% endblock %}
