<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="g-container -center -medium u-padding-horizontal u-padding-vertical" style="text-align: center;">

    <date-time-picker web-component>
        <input type="date" id="date" value="2018-07-03" aria-label="Date Input">
        <span></span>
        <input type="time" id="time" value="08:00" aria-label="Time Input">
    </date-time-picker>
    
    <div class="info">
        <strong>Compatibility check:</strong>Date "<span id="date-output"></span>", Time "<span id="time-output"></span>"
    </div>

</div>