<div class="g-container -center -x-large u-padding-horizontal u-padding-vertical-x4">

    <h2 class="g-heading -h4-underlined u-margin-bottom-x2">Layout Options</h2>

    <div class="u-margin-bottom-x2">
        <textarea-component web-component class="u-margin-bottom-x2">
            <label class="-hidden-label" for="textarea-component">Label</label>
            <textarea id="textarea-component" rows="5" placeholder="Placeholder"></textarea>
        </textarea-component>

        <textarea-component web-component class="u-margin-bottom-x2">
            <label class="-label" for="textarea-component-2">Label</label>
            <textarea id="textarea-component-2" rows="5" placeholder="Placeholder"></textarea>
        </textarea-component>
    </div>

</div>