<!DOCTYPE html>
<html
    lang="en-US"
    data-env="{{ craft.app.config.env }}"
    {% if craft.vite.viteService.useDevServer %}
        data-use-dev-server
    {% endif %}
>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <meta name="referrer" content="origin-when-cross-origin"/>

        <title>CraftCMS Boilerplate</title>
        <meta name="description" content="CraftCMS Boilerplate">

        {% if not craft.vite.viteService.useDevServer %}
            {{ craft.siteModule.getCachedMainCSS()|raw }}
        {% endif %}

    </head>

    <style>
        html[data-use-dev-server]::after {
            content: "";
            position: fixed; top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: white;
            transition: background-color 1ms ease;
            transition-delay: 250ms;
            pointer-events: none; user-select: none;
            z-index: 999999;
        }
        html[data-use-dev-server].dev-css-loaded::after {
            background-color: transparent;
        }
    </style>

    <body>

        {% block page %}{% endblock %}

        {{ craft.vite.script("src/app/app.ts") }}

    </body>

</html>
