{% extends '_layouts/page' %}

{% block content %}

    <section class="block p-4">

        <h1 class="text-3xl font-bold underline text-primary-color mb-4">
            Hello world!
        </h1>

        <div class="block border rounded shadow p-4">
            {{ include("_components/input-component", {
                id: "input-component",
                label: "Placeholder",
                placeholder: "Placeholder",
                hideLabel: false,
                name: "name",
                type: "text",
            }) }}
        </div>

    </section>

{% endblock %}