{% set textAlignment = block.textAlignment.value ?? "text-left" ?? "text-center" ?? "text-right" ?? "text-justify" %}

{% if block.heading|length or block.copy|length %}
    <div class="rich-text w-full {{ textAlignment }} px-4 py-16">
        {% if block.heading|length %}
            <h1 class="block font-bold lg:text-3xl text-4xl">{{ block.heading }}</h1>
        {% endif %}
        {% if block.copy|length %}
            <div class="g-copy text-lg">
                {{ block.copy|raw }}
            </div>
        {% endif %}
    </div>
{% endif %}
