<input-component web-component>
    <label class="-hidden-label" for="input-component">Placeholder</label>
    <input type="text" id="input-component" name="example" autocapitalize="off" autocomplete="off" placeholder="Placeholder" />
</input-component>