<div class="g-container -center -medium u-padding-horizontal u-padding-vertical">
    <input-email class="has-label" web-component>
        <input type="email" id="input-text-component-2" name="example2" autocapitalize="off" autocomplete="name" required />
        <label class="-placeholder" for="input-text-component-2">Email</label>
        <label class="-label" for="input-text-component-2">Enter a valid email.</label>
        <p style="display:none;" class="error">Enter a valid email.</p>
    </input-email>
</div>